* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
body {
  background-color: slateblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 270px;
  transition: padding-top 0.5s ease;
}
header {
  width: 100%;
  height: 200px;
  background-color: teal;
  text-align: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
header h1 {
  font-size: 42px;
  color: white;
  line-height: 150px;
  font-weight: 300px;
  transition: all 0.3s ease;
}
header nav {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background: rgba(232, 63, 0, 0.8);
}
header nav a {
  color: white;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
  border-radius: 5px;
}
header nav a:hover {
  background: rgba(0, 0, 0, 0.2);
}
body.sticky-header header {
  height: 60px;
  background: #e88300;
}
body.sticky-header header h1 {
  transform: scale(0, 0);
}
h1 {
  text-align: center;
  font-size: 700;
}
form {
  background: white;
  /*ariiba y abajo*/
  padding: 40px 0;
}
.form {
  width: 100%;
  margin: auto;
}
form .grupo {
  position: relative;
  margin: 45px;
}
select,
input {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(214, 214, 228);
}
select:focus,
input:focus {
  outline: none;
  color: rgb(0, 0, 0);
}
label {
  color: darkgray;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}
select:enabled ~ label,
input:enabled ~ label {
  top: -14px;
  font-size: 14px;
  color: dodgerblue;
}
.barra {
  position: relative;
  display: block;
  width: 100%;
}
select:focus ~ .barra::before,
input:focus ~ .barra::before {
  width: 100%;
}
.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #ffd452, #544a7d);
  transition: 0.3s ease width;
  left: 0;
}
.botons {
  background: #544a7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd452,
    #544a7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd452, #544a7d);
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: white;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}
.form-register {
  max-width: 800px;
  margin: 0 auto;
}
.grupo {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.grupo label {
  display: inline-block;
  margin-bottom: 5px;
}

.grupo input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.grupo input:focus {
  outline: 0;
  border-color: #777;
}

.grupo.success input {
  border-color: #2ecc71;
}

.grupo.error input {
  border-color: #e74c3c;
}

.grupo i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.grupo.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.grupo.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.grupo small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.grupo.error small {
  visibility: visible;
}
