@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

letra1 {
font-family: 'Open Sans Condensed', sans-serif;
}

body{
	background-image: url(../imagenes/ima7.jpg);
	background-repeat: repeat;
}
.letra1{
	font-size: 30px;
	
}
.letra2{
	font-size: 30px;
	
}
.letra0{
	text-align: center;
	font-size: 50px;

}
