@charset "utf-8";
/* CSS Document */
html {
  font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Arial', cursive;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}
