@charset "utf-8";
/* CSS Document */
body{
	color: black;
	background:url("../imagenes/tartan.png");
}

body h1{
		text-align: center;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}